@page "/"

<div class="container">
  <div class="row align-items-center hero-section">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="display-4 mb-4">Horsens Recycling Center: Your Partner in Green Transformation</h1>
      <p class="lead">Make a difference and embrace sustainability by bringing recyclable materials to us! We offer a convenient way to dispose of items responsibly while promoting a greener future.</p>
      <a href="what-to-recycle" class="btn btn-lg btn-primary">Learn More About What We Recycle</a>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <img src="recycle-hero.jpg" alt="Image of recycling items" class="img-fluid">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Taking Items Home Made Easy</h5>
          <p class="card-text">Did you know you can take certain items home from our center? We offer a variety of materials perfect for upcycling projects or everyday use. Visit our "Take Home" section below to explore!</p>
          <a href="take-home" class="btn btn-primary">See What's Available</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Benefits of Recycling</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Reduces environmental impact</li>
            <li class="list-group-item">Conserves natural resources</li>
            <li class="list-group-item">Saves energy</li>
            <li class="list-group-item">Creates green jobs</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Find Us Easily</h5>
          <p class="card-text">We're conveniently located at [Insert Address]. Visit our "Contact Us" page for more information on opening hours and directions.</p>
          <a href="contact" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <h2>Get Involved!</h2>
      <p>Together, we can make a significant impact on the environment. Here are some ways you can get involved:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Reduce your waste consumption</li>
        <li class="list-group-item">Recycle diligently</li>
        <li class="list-group-item">Spread awareness about sustainability</li>
        <li class="list-group-item">Volunteer at the recycling center (optional, if applicable)</li>
      </ul>
    </div>
  </div>
</div>
